<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#"><meta charset="utf-8">
<title>App Info</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="//assets.peraichi.com/template_root/v2/template_files/css/style.css?1686814544" rel="stylesheet">

<script src="//assets.peraichi.com/js/const_common.js"></script><script src="//assets.peraichi.com/js/const_production.js"></script><script src="//webfont.fontplus.jp/accessor/script/fontplus.js?5qoPx6QyJ8k%3D&aa=1" charset="utf-8"></script>
<meta property="og:image" content="https://cdn.peraichi.com/userData/29f00044-0b29-4389-9e86-33c33e5df8d0/ogp/1592914.png">
<meta property="og:url" content="http://w8vvc.hp.peraichi.com"><script type="text/javascript" src="//assets.peraichi.com/js/libs/lazysizes.min.js?1686814544"></script><script type="text/javascript" src="//assets.peraichi.com/js/lazyLoad.js?1686814544"></script><script type="text/javascript" src="//assets.peraichi.com/cjs/dist/peraichi_setting.js?1686815214"></script>
<link rel="canonical" href="https://w8vvc.hp.peraichi.com" /></head>
  <body class="theme-base theme-blank template-theme-default" data-template-name="blank" data-is-initial-val-of-template-theme="0" data-is-available-on-template-theme="true" style="overflow: auto; padding-top: 0px;">
        <div class="s_footer-peraichi pera1-section block" data-structure="b-footer" data-block-name="フッター" id="section-1" data-optional-block-settings-key="0">
          <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="0">
            <div class="c-wrapper c-wrapper">
              <div class="p-footer__inner">
                <div class="u-align-center">
                      <div data-structure="e-text" class="pera1-editable"><p><span data-custom-pc-fontsize="20px">こどものためのテーブルマナー；educational iOS App</span></p>
<p>食事は生活の中心であり、近年、重要性はさらに強調されます。そこで、「こどものためのテーブルマナー」アプリを作成しました。このアプリは、かんたんなクイズを通して、子どもたちに食事作法を楽しみながら学んでもらうことを目指しています。</p>
<p>子どもたちが食事マナーを理解し、その重要性を認識するための魅力的なガイドです。子どもたちは、ゲーム感覚で基本的なマナーや食事の作法、礼儀正しい態度について学ぶことができます。子どもたちが自信を持って食事を楽しむツールです。</p>
<p>テーブルマナーは、礼儀正しさと社会性を形成するための重要な一部です。このアプリを通じて、子どもたちは自分自身の行動が他人にどのように影響を与えるかを理解することができます。「こどものためのテーブルマナー」アプリをダウンロードして、子どもたちが正しい食事作法を学ぶ旅を始めましょう！<br><br><br><br></p>
<p>"Table Manners for Kids: Learn the art of dining etiquette, made fun!"<br><br></p>
<p>Meals are at the heart of daily life, and in recent years, their importance has been more emphasized than ever. Hence, we have developed the "Table Manners for Kids" app. This application is designed to allow children to learn dining etiquette while having fun through simple quizzes.</p>
<p>Our app is an attractive guide for children to understand meal manners and recognize their importance. Children can learn basic manners, dining etiquette, and respectful attitudes with a sense of fun, like playing a game. It's a tool that gives children the confidence to enjoy their meals.</p>
<p>Table manners are an essential part of forming courtesy and sociability. Through this app, children can understand how their own actions impact others. Download the "Table Manners for Kids" app and let's start the journey of children learning the proper dining etiquette!</p>
<br><br><br>Privacy Policy
<p>Metamorph Engineering built the&nbsp;Table Manners for Kids app as a Free app. This SERVICE is provided by Metamorph Engineering at no cost and is intended for use as is.</p>
<p>This page is used to inform visitors regarding my policies with the collection, use, and disclosure of Personal Information if anyone decided to use my Service.</p>
<p>If you choose to use my Service, then you agree to the collection and use of information in relation to this policy. The Personal Information that I collect is used for providing and improving the Service. I will not use or share your information with anyone except as described in this Privacy Policy.</p>
<p>The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, which are accessible at&nbsp;Table Manners for Kids unless otherwise defined in this Privacy Policy.</p>
<p>Information Collection and Use</p>
<p>For a better experience, while using our Service, I may require you to provide us with certain personally identifiable information. The information that I request will be retained on your device and is not collected by me in any way.</p>
<p>Log Data</p>
<p>I want to inform you that whenever you use my Service, in a case of an error in the app I collect data and information (through third-party products) on your phone called Log Data. This Log Data may include information such as your device Internet Protocol (“IP”) address, device name, operating system version, the configuration of the app when utilizing my Service, the time and date of your use of the Service, and other statistics.</p>
<p>Cookies</p>
<p>Cookies are files with a small amount of data that are commonly used as anonymous unique identifiers. These are sent to your browser from the websites that you visit and are stored on your device's internal memory.</p>
<p>This Service does not use these “cookies” explicitly. However, the app may use third-party code and libraries that use “cookies” to collect information and improve their services. You have the option to either accept or refuse these cookies and know when a cookie is being sent to your device. If you choose to refuse our cookies, you may not be able to use some portions of this Service.</p>
<p>Service Providers</p>
<p>I may employ third-party companies and individuals due to the following reasons:</p>
To facilitate our Service;To provide the Service on our behalf;To perform Service-related services; orTo assist us in analyzing how our Service is used.
<p>I want to inform users of this Service that these third parties have access to their Personal Information. The reason is to perform the tasks assigned to them on our behalf. However, they are obligated not to disclose or use the information for any other purpose.</p>
<p>Security</p>
<p>I value your trust in providing us your Personal Information, thus we are striving to use commercially acceptable means of protecting it. But remember that no method of transmission over the internet, or method of electronic storage is 100% secure and reliable, and I cannot guarantee its absolute security.</p>
<p>Links to Other Sites</p>
<p>This Service may contain links to other sites. If you click on a third-party link, you will be directed to that site. Note that these external sites are not operated by me. Therefore, I strongly advise you to review the Privacy Policy of these websites. I have no control over and assume no responsibility for the content, privacy policies, or practices of any third-party sites or services.</p>
<p>Children’s Privacy</p>
<p>I do not knowingly collect personally identifiable information from children. I encourage all children to never submit any personally identifiable information through the Application and/or Services. I encourage parents and legal guardians to monitor their children's Internet usage and to help enforce this Policy by instructing their children never to provide personally identifiable information through the Application and/or Services without their permission. If you have reason to believe that a child has provided personally identifiable information to us through the Application and/or Services, please contact us. You must also be at least 16 years of age to consent to the processing of your personally identifiable information in your country (in some countries we may allow your parent or guardian to do so on your behalf).</p>
<p>Changes to This Privacy Policy</p>
<p>I may update our Privacy Policy from time to time. Thus, you are advised to review this page periodically for any changes. I will notify you of any changes by posting the new Privacy Policy on this page.</p>
<p>This policy is effective as of 2023-06-06</p>
<p>Contact Us</p>
<p>If you have any questions or suggestions about my Privacy Policy, do not hesitate to contact me at keisuke9n@yahoo.co.jp.</p>
<p>This privacy policy page was created at&nbsp;privacypolicytemplate.net&nbsp;and modified/generated by&nbsp;App Privacy Policy Generator</p></div>
                </div>
              </div>
            </div>
          </div>
        </div>
  









<script id="tmpl_nav" type="text/x-template">
          <ul class="nav nav-pills nav-stacked">
          <% _.each(sections, function(section) { %>
          <li><a href="#<%= section.id %>"><%= section.name %></a></li>
          <% }) %>
          </ul>
        </script>
<script id="template_html" type="text/x-template"></script><script src="https://analytics.peraichi.com/scripts/beacon.min.js?tracking_codes=2maa5tYkkBUj55N"></script>
</body></html>